.content{
    display: flex;
    justify-content: center;
}
.content__checkboxFilter{
    position: relative;
}
@media screen and (min-width: 320px)and (max-width:476px){
    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .content__tickets{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
