*{
    margin: 0;
    padding: 0 auto;
    box-sizing: border-box;
    position: relative;
    font-size: 4px;
}
@media screen and (min-width: 320px)and (max-width:476px){
    html,body{
        width: 476px;
        min-width: 320px;
    }
}